<div class="modal-header">
  <h4 class="modal-title">Add expense</h4>
</div>
<div class="modal-body">
  <form #expenseForm="ngForm">
    <div class="form-group">
      <label for="description">Description</label>
      <input type="text" class="form-control" id="description"
      [(ngModel)]="expenses.description" name="description" required/>
    </div>
    <div class="form-group">
      <label for="amount">Amount</label>
      <input type="number" class="form-control" id="amount"
      required min="0"
        onkeypress="return event.charCode >= 48"
      [(ngModel)]="expenses.amount" name="amount" />
    </div>
    <div class="form-group">
      <label for="date">Date</label>
      <input type="date" class="form-control" id="date"
      [value]="expenses.date | date:'yyyy-MM-dd'"
      (change)="setDate($event)"
       name="date" required />
    </div>
    <div class="form-group">
      <label for="category">Category</label>
      <input type="text" class="form-control" id="category"
      [(ngModel)]="expenses.category" name="category" required />
    </div>
  </form>
</div>
<div class="modal-footer">
  <button *ngIf="expenseForm.valid" type="button" class="btn btn-outline-primary"
  (click)="onSave()">Save</button>
  <button type="button" class="btn btn-outline-secondary"
  (click)="activeModal.close()">Cancel</button>
</div>
