<h2 mat-dialog-title>Add Expense</h2>
<mat-dialog-content>
  <form>
    <!-- <mat-form-field appearance="fill" style="width: 100%;">
      <mat-label>Description</mat-label>
      <input matInput [(ngModel)]="expense.description" name="description" />
    </mat-form-field>
    <mat-form-field appearance="fill" style="width: 100%;">
      <mat-label>Amount</mat-label>
      <input matInput type="number" [(ngModel)]="expenses" />
    </mat-form-field> -->
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-button color="primary" (click)="onSave()">Save</button>
</mat-dialog-actions>
